<div class="container">
  <button ui-sref="admin" class="btn btn-info">Admin</button>
  <button ui-sref="main" class="btn btn-info">Race</button>
  <h3>You all are awesome!</h3>
    <div class="well">
      <table class="table">
        <thead>
          <tr>
            <th>User</th>
            <th>Horse</th>
            <th>Bet (bitcoin)</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="bidder in main.bidders">
            <td>{{bidder.name}}</td>
            <td>{{bidder.contestant}}</td>
            <td>{{bidder.winning}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
