<div class="container">
  <button ui-sref="admin" class="btn btn-primary">Change Race</button>
  <button ui-sref="bidder" class="btn btn-primary">user Leader board</button>
  <h3>Race to Awesome</h3>
  <button class="btn btn-info" ng-click="start()">Start</button>
  <button class="btn btn-info" ng-click="winner()">Winner</button>
  <input ng-model="userBet.name" placeholder="name of horse"/>
  <input ng-model="userBet.amount" placeholder="amount"/>
  <button ng-click="bet()">bet</button>
    <div class="well">
      <table class="table">
        <thead>
          <tr>
            <th>Lane</th>
            <th>Contestant</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="contestant in main.contestants">
            <td>{{contestant.lane}}</td>
            <td>{{contestant.name}}</td>
            <td>{{contestant.score}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
